<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>
    <div class="row">
        <th:block th:if="${session.loginCheck == null}">
            <div th:replace="template/fragment/nav :: nav"></div>
        </th:block>
        <th:block th:if="${session.loginCheck == 'Y'}">
            <div th:replace="template/fragment/nav :: loginNav"></div>
        </th:block>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.member.memberId}">ID</th>
                <th th:text="#{label.member.loginId}">팀</th>
                <th th:text="#{label.member.name}">이름</th>
                <th th:text="#{label.member.birthday}">생년월일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="member.html" th:href="@{/member/{memberId}(memberId=${member.memberId})}"
                       th:text="${member.memberId}">회원 ID</a></td>
                <td><a href="team.html" th:href="@{/member/{memberId}(memberId=${member.memberId})}"
                       th:text="${member.loginId}">로그인 ID</a></td>
                <td th:text="${member.name}">이름</td>
                <td th:text="${member.birthday}">생년월일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>