<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="nav">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary float-end"
                    onclick="location.href='teams.html'"
                    th:onclick="|location.href='@{/team/teams}'|"
                    type="button" th:text="#{button.teams}">
                팀 목록으로
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary float-end"
                    onclick="location.href='members.html'"
                    th:onclick="|location.href='@{/member/members}'|"
                    type="button" th:text="#{button.members}">
                회원 목록으로
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end" type="button"
                    th:onclick="|location.href='@{/member/signUpMember}'|"
                    th:text="#{page.addMember}">
                회원 가입 버튼
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary float-end"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/login}'|" type="button"
                    th:text="#{page.login}">
                로그인 버튼
            </button>
        </div>
    </div>
</div>

<div th:fragment="loginNav">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary float-end"
                    onclick="location.href='teams.html'"
                    th:onclick="|location.href='@{/team/teams}'|"
                    type="button" th:text="#{button.teams}">
                팀 목록으로
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary float-end"
                    onclick="location.href='members.html'"
                    th:onclick="|location.href='@{/member/members}'|"
                    type="button" th:text="#{button.members}">
                회원 목록으로
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end" type="button"
                    th:onclick="|location.href='@{/member/myPage}'|"
                    th:text="#{page.member}">
                회원 정보
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end" type="button"
                    th:onclick="|location.href='@{/team/createTeam}'|"
                    th:text="#{page.createTeam}">
                팀 창단 버튼
            </button>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-secondary float-end" type="submit"
                        th:text="#{button.logout}">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>