<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.team}">팀 상세</h2>
    </div>
    <div>
        <label for="teamName" th:text="#{label.team.teamName}">팀명</label>
        <input type="text" id="teamName" name="teamName" class="form-control" value="팀A" th:value="${team.teamName}"
               readonly>
    </div>
    <div>
        <label for="teamCode" th:text="#{label.team.teamCode}">팀 코드</label>
        <input type="text" id="teamCode" name="teamCode" class="form-control" value="AAA" th:value="${team.teamCode}"
               readonly>
    </div>
    <div>
        <label for="owner" th:text="#{label.team.owner}">구단주</label>
        <input type="text" id="owner" name="owner" class="form-control" value="Owner" th:value="${team.owner.name}"
               readonly>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.member.memberId}">팀원 ID</th>
                <th th:text="#{label.member.name}">이름</th>
                <th th:text="#{label.teamMember.memberShip}">선수 분류</th>
                <th th:text="#{label.teamMember.mainPosition}">메인 포지션</th>
                <th th:text="#{label.teamMember.backNumber}">등번호</th>
                <th th:if="${manage}" th:text="#{label.teamMember.manage}">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teamMember : ${teamMembers}">
                <td><a href="team.html" th:href="@{/teamMember/{teamMemberId}(teamMemberId=${teamMember.teamMemberId})}"
                       th:text="${teamMember.member.memberId}">팀원 ID</a></td>
                <td><a href="team.html" th:href="@{/teamMember/{teamMemberId}(teamMemberId=${teamMember.teamMemberId})}"
                       th:text="${teamMember.member.name}">이름</a></td>
                <td th:text="${teamMember.memberShip.description}">선수 분류</td>
                <td th:text="${teamMember.mainPosition.description}">메인 포지션</td>
                <td th:text="${teamMember.backNumber}">등번호</td>
                <td th:if="${manage}"><a th:href="@{/teamMember/{teamMemberId}/manage(teamMemberId=${teamMember.teamMemberId})}"
                                         th:text="#{label.teamMember.edit}">수정</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="button"
                    th:onclick="|location.href='@{/teamMember/joinTeam/{teamCode}(teamCode=${team.teamCode})}'|"
                    th:text="#{page.joinTeam}">
                팀 가입 버튼
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="button"
                    th:onclick="|location.href='@{/lineup/{teamCode}/list(teamCode=${team.teamCode})}'|"
                    th:text="#{page.lineup}">
                라인업 버튼
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='teams.html'"
                    th:onclick="|location.href='@{/team/teams}'|"
                    type="button" th:text="#{button.list}">
                목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>