<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="${teamMember.team.teamName}">팀</h2>
        <h2 th:text="#{page.teamMember}">팀원 정보</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="memberId" th:text="#{label.member.memberId}">회원 ID</label>
        <input type="text" id="memberId" name="memberId" class="form-control" value="1"
               th:value="${teamMember.member.memberId}" readonly>
    </div>
    <div>
        <label for="name" th:text="#{label.member.name}">이름</label>
        <input type="text" id="name" name="name" class="form-control" value="회원"
               th:value="${teamMember.member.name}" readonly>
    </div>
    <div>
        <label for="loginId" th:text="#{label.member.loginId}">로그인 ID</label>
        <input type="text" id="loginId" name="loginId" class="form-control" value="member"
               th:value="${teamMember.member.loginId}" readonly>
    </div>
    <div>
        <label for="birthday" th:text="#{label.member.birthday}">생년월일</label>
        <input type="text" id="birthday" name="birthday" class="form-control" value="20010101"
               th:value="${teamMember.member.birthday}" readonly>
    </div>
    <div>
        <label for="memberShip" th:text="#{label.teamMember.memberShip}">memberShip</label>
        <input type="text" id="memberShip" name="memberShip" class="form-control" value="player"
               th:value="${teamMember.memberShip}" readonly>
    </div>
    <div>
        <label for="mainPosition" th:text="#{label.teamMember.mainPosition}">mainPosition</label>
        <input type="text" id="mainPosition" name="mainPosition" class="form-control" value="Pitcher"
               th:value="${teamMember.mainPosition}" readonly>
    </div>
    <div>
        <label for="backNumber" th:text="#{label.teamMember.backNumber}">backNumber</label>
        <input type="text" id="backNumber" name="backNumber" class="form-control" value="1"
               th:value="${teamMember.backNumber}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='members.html'"
                    th:onclick="|location.href='@{/team/teams}'|"
                    type="button" th:text="#{button.list}">목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>